*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.header{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.header__nav-item{
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(184, 235, 184);
    border: transparent;
    border-radius: 10px;
    margin-right: 30px;
}
 /* mainpage */
.topics{
    padding: 20px;
}
.topics__nav{
    display:flex;
    flex-direction: column;
}
.welcome{
    padding: 20px;
}
.addTopic{
    margin-top: 20px;
}
.topicName{
    padding: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
}


/* Single topics page */
.topic{
    padding: 20px;
}

.posts__nav{
    display:flex;
    flex-direction: column;
}
.topicPost{
    margin-bottom: 20px;
}
.addingPost{
    list-style: none;
    margin-top: 20px;
}
#title{
    padding: 2px; 
}
#author{
    padding: 2px; 
}
#content{
    padding: 2px; 
}
.submit{
    padding: 3px;
    font-weight: bold;
    border-radius: 6px;
}

/* Single Post page*/
.post{
    padding: 20px;
}
.hashtagInput{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#hashtag{
    margin-bottom: 6px;
    padding: 2px;
}
.hash{
    margin-left: 10px;
    margin-bottom: 38px;
    margin-top: 15px;
    padding: 5px;
    background-color: rgb(184, 235, 184);
    border: transparent;
    border-radius: 10px;
}

/* all hashtags */
.allHash{
    padding: 20px;
}
.hashtagsContainer{
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
}
.hashtags{
    list-style: none;
    margin-left: 10px;
    padding: 5px;
    background-color: rgb(184, 235, 184);
    border: transparent;
    border-radius: 5px;
}

/* single Hashtags page */
.allHashPosts{
    list-style: none;
    padding: 20px;
}
.post_Title{
    margin-top: 20px;
}
@media screen and (min-width:1000px){
    .container{
        width: 85%;
        max-width: 1400px;
        min-width:1000px;
        margin: 15px auto;
    }
}